#loader {
    margin: 0 500px;
	max-width: 100px;
}

#loader.hidden {
	display: none;
}

h2 {
    color: rgb(123, 2, 235);
    font-weight: 800;
}

.material-heading {
    color: rgb(255, 13, 0);
}

.material-description {
    color: rgb(0, 0, 0);
    font-weight: 900;
}